[flake8]
ignore = C901, W504
max-complexity = 10
max-line-length = 120
exclude =
    # No need to traverse our git directory
    .git,
    ./ondewo/nlu/agent_pb2_grpc.py,
    ./ondewo/nlu/agent_pb2.py,
    ./ondewo/nlu/aiservices_pb2_grpc.py,
    ./ondewo/nlu/aiservices_pb2.py,
    ./ondewo/nlu/ccai_project_pb2.py,
    ./ondewo/nlu/ccai_project_pb2_grpc.py,
    ./ondewo/nlu/common_pb2_grpc.py,
    ./ondewo/nlu/common_pb2.py,
    ./ondewo/nlu/context_pb2_grpc.py,
    ./ondewo/nlu/context_pb2.py,
    ./ondewo/nlu/entity_type_pb2_grpc.py,
    ./ondewo/nlu/entity_type_pb2.py,
    ./ondewo/nlu/intent_pb2_grpc.py,
    ./ondewo/nlu/intent_pb2.py,
    ./ondewo/nlu/operation_metadata_pb2_grpc.py,
    ./ondewo/nlu/operation_metadata_pb2.py,
    ./ondewo/nlu/operations_pb2_grpc.py,
    ./ondewo/nlu/operations_pb2.py,
    ./ondewo/nlu/project_role_pb2_grpc.py,
    ./ondewo/nlu/project_role_pb2.py,
    ./ondewo/nlu/project_statistics_pb2_grpc.py,
    ./ondewo/nlu/project_statistics_pb2.py,
    ./ondewo/nlu/server_statistics_pb2_grpc.py,
    ./ondewo/nlu/server_statistics_pb2.py,
    ./ondewo/nlu/session_pb2_grpc.py,
    ./ondewo/nlu/session_pb2.py,
    ./ondewo/nlu/user_pb2_grpc.py,
    ./ondewo/nlu/user_pb2.py,
    ./ondewo/nlu/utility_pb2_grpc.py,
    ./ondewo/nlu/utility_pb2.py,
    ./ondewo/nlu/webhook_pb2_grpc.py,
    ./ondewo/nlu/webhook_pb2.py,
    ./ondewo/qa/qa_pb2_grpc.py,
    ./ondewo/qa/qa_pb2.py,
    ./ondewo/s2t/speech_to_text_pb2_grpc.py,
    ./ondewo/s2t/speech_to_text_pb2.py,
    ./ondewo/sip/sip_pb2_grpc.py,
    ./ondewo/sip/sip_pb2.py,
    ./ondewo/t2s/text_to_speech_pb2_grpc.py,
    ./ondewo/t2s/text_to_speech_pb2.py,
    ./ondewo/vtsi/projects_pb2_grpc.py,
    ./ondewo/vtsi/projects_pb2.py,
    ./ondewo/vtsi/projects_pb2.pyi,
    ./ondewo/vtsi/calls_pb2_grpc.py,
    ./ondewo/vtsi/calls_pb2.py,
    ./ondewo/vtsi/calls_pb2.pyi,
