# release automation
ondewo-devops-accounts

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/**
.vscode
.idea
ONDEWO_Voip_Client_Python.egg-info
venv*/
*.egg-info
*.py[cod]
*$py.class

ondewo-nlu-api
ondewo-vtsi-api
ondewo-s2t-api
ondewo-sip-api
ondewo-csi-api
ondewo-t2s-api
grpc_cert
