[submodule "ondewo-nlu-api"]
	path = ondewo-nlu-api
	url = https://github.com/ondewo/ondewo-nlu-api
[submodule "ondewo-vtsi-api"]
	path = ondewo-vtsi-api
	url = https://github.com/ondewo/ondewo-vtsi-api
[submodule "ondewo-sip-api"]
	path = ondewo-sip-api
	url = https://github.com/ondewo/ondewo-sip-api
[submodule "ondewo-s2t-api"]
	path = ondewo-s2t-api
	url = https://github.com/ondewo/ondewo-s2t-api
[submodule "ondewo-t2s-api"]
	path = ondewo-t2s-api
	url = https://github.com/ondewo/ondewo-t2s-api
