# -*- coding: utf-8 -*-
dataclasses-json==0.5.2
google-api-core==1.13.0
googleapis-common-protos==1.5.10
grpcio-reflection==1.31.0
grpcio-tools==1.31.0
grpcio==1.31.0
mypy-protobuf==1.20
polling==0.3.1
protobuf==3.13.0
pytest==6.0.1
regex==2020.7.14

# Ondewo dependencies

# ondewo-nlu-client>=2.0.0
# git+https://github.com/ondewo/ondewo-s2t-client-python.git@develop#egg=ondewo-s2t-client
# git+https://github.com/ondewo/ondewo-sip-client-python.git@release/3.0.0#egg=ondewo-sip-client
# git+https://github.com/ondewo/ondewo-t2s-client-python.git@develop#egg=ondewo-t2s-client
